#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export COMPILE_FLAGS="-O0"
export DEB_BUILD_MAINT_OPTIONS = hardening=-all
export DEB_CFLAGS_MAINT_APPEND  = -Wno-error
export DEB_LDFLAGS_MAINT_APPEND = -Wno-error
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
GIT_VERSION_DEVILUTIONX ?= $(shell git describe --tags --abbrev=0)
GIT_COMMIT_DEVILUTIONX := $(shell git rev-parse --short HEAD)

%:
	dh $@ --buildsystem=cmake --builddirectory=obj-${DEB_HOST_MULTIARCH}

override_dh_auto_configure:
	dh_auto_configure -- \
		-DNIGHTLY_BUILD=ON \
		-DMO_LANG_DIR=/usr/share/locale \
		-DVERSION_NUM=${GIT_VERSION_DEVILUTIONX} \
		-DVERSION_SUFFIX=-${GIT_COMMIT_DEVILUTIONX} \
		#-DSPAWN=ON

override_dh_auto_install:
	DESTDIR=$$(pwd)/debian/devilutionx cmake --install ./obj-${DEB_HOST_MULTIARCH}
	for locale in $$(ls "Translations/*.po") ; do \
	    echo mkdir /usr/share/locale/$$locale/LC_MESSAGES \
	    echo msgfmt -o /usr/share/locale/$$locale/LC_MESSAGES/devilutionx.mo Translations/$$locale .po  ; \
	done 
	dh_auto_install

override_dh_install:
	sed -i 's/Exec=devilutionx/Exec=devilutionx --data-dir \/usr\/share\/games\/diablo/'  debian/tmp/usr/share/applications/*.desktop
	dh_install
#	mkdir -p debian/diablo-data/usr/share/games/diablo/
#	if [ -f debian/diabdat.mpq ]; then cp debian/*.mpq debian/diablo-data/usr/share/games/diablo/ fi

